@model IEnumerable<S4.Entities.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">
               ID
            </th>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody .table-hover>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>